---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1562134715'
      Etag:
      - W/"ce186b61dd42cb111b14735e6fb510d0"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sbrunswig","id":955212,"node_id":"MDQ6VXNlcjk1NTIxMg==","avatar_url":"https://avatars2.githubusercontent.com/u/955212?v=4","gravatar_id":"","url":"https://api.github.com/users/sbrunswig","html_url":"https://github.com/sbrunswig","followers_url":"https://api.github.com/users/sbrunswig/followers","following_url":"https://api.github.com/users/sbrunswig/following{/other_user}","gists_url":"https://api.github.com/users/sbrunswig/gists{/gist_id}","starred_url":"https://api.github.com/users/sbrunswig/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sbrunswig/subscriptions","organizations_url":"https://api.github.com/users/sbrunswig/orgs","repos_url":"https://api.github.com/users/sbrunswig/repos","events_url":"https://api.github.com/users/sbrunswig/events{/privacy}","received_events_url":"https://api.github.com/users/sbrunswig/received_events","type":"User","site_admin":false},{"login":"andybeckmann","id":2136720,"node_id":"MDQ6VXNlcjIxMzY3MjA=","avatar_url":"https://avatars3.githubusercontent.com/u/2136720?v=4","gravatar_id":"","url":"https://api.github.com/users/andybeckmann","html_url":"https://github.com/andybeckmann","followers_url":"https://api.github.com/users/andybeckmann/followers","following_url":"https://api.github.com/users/andybeckmann/following{/other_user}","gists_url":"https://api.github.com/users/andybeckmann/gists{/gist_id}","starred_url":"https://api.github.com/users/andybeckmann/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/andybeckmann/subscriptions","organizations_url":"https://api.github.com/users/andybeckmann/orgs","repos_url":"https://api.github.com/users/andybeckmann/repos","events_url":"https://api.github.com/users/andybeckmann/events{/privacy}","received_events_url":"https://api.github.com/users/andybeckmann/received_events","type":"User","site_admin":false}]'
  recorded_at: Wed, 03 Jul 2019 05:37:41 GMT
recorded_with: VCR 4.0.0
