---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1562134715'
      Etag:
      - W/"7a742fd25c9d69518757f875ac05fda1"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"frankstepanski","id":7707247,"node_id":"MDQ6VXNlcjc3MDcyNDc=","avatar_url":"https://avatars3.githubusercontent.com/u/7707247?v=4","gravatar_id":"","url":"https://api.github.com/users/frankstepanski","html_url":"https://github.com/frankstepanski","followers_url":"https://api.github.com/users/frankstepanski/followers","following_url":"https://api.github.com/users/frankstepanski/following{/other_user}","gists_url":"https://api.github.com/users/frankstepanski/gists{/gist_id}","starred_url":"https://api.github.com/users/frankstepanski/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frankstepanski/subscriptions","organizations_url":"https://api.github.com/users/frankstepanski/orgs","repos_url":"https://api.github.com/users/frankstepanski/repos","events_url":"https://api.github.com/users/frankstepanski/events{/privacy}","received_events_url":"https://api.github.com/users/frankstepanski/received_events","type":"User","site_admin":false},{"login":"andybeckmann","id":2136720,"node_id":"MDQ6VXNlcjIxMzY3MjA=","avatar_url":"https://avatars3.githubusercontent.com/u/2136720?v=4","gravatar_id":"","url":"https://api.github.com/users/andybeckmann","html_url":"https://github.com/andybeckmann","followers_url":"https://api.github.com/users/andybeckmann/followers","following_url":"https://api.github.com/users/andybeckmann/following{/other_user}","gists_url":"https://api.github.com/users/andybeckmann/gists{/gist_id}","starred_url":"htt[...]
