---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:16 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:17 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:18 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/james-cape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - W/"1274894cb84dc30b7b397fbc12f1dbca"
      Last-Modified:
      - Wed, 03 Jul 2019 23:37:07 GMT
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"james-cape","id":46202598,"node_id":"MDQ6VXNlcjQ2MjAyNTk4","avatar_url":"https://avatars2.githubusercontent.com/u/46202598?v=4","gravatar_id":"","url":"https://api.github.com/users/james-cape","html_url":"https://github.com/james-cape","followers_url":"https://api.github.com/users/james-cape/followers","following_url":"https://api.github.com/users/james-cape/following{/other_user}","gists_url":"https://api.github.com/users/james-cape/gists{/gist_id}","starred_url":"https://api.github.com/users/james-cape/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/james-cape/subscriptions","organizations_url":"https://api.github.com/users/james-cape/orgs","repos_url":"https://api.github.com/users/james-cape/repos","events_url":"https://api.github.com/users/james-cape/events{/privacy}","received_events_url":"https://api.github.com/users/james-cape/received_events","type":"User","site_admin":false,"name":"James
        Cape","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":44,"public_gists":17,"followers":6,"following":2,"created_at":"2018-12-27T20:54:29Z","updated_at":"2019-07-03T23:37:07Z"}'
  recorded_at: Wed, 10 Jul 2019 03:44:18 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:21 GMT
recorded_with: VCR 4.0.0
