---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:11 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:12 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:12 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/WHomer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - W/"51454c26e59177ab9ad7af7475700fcf"
      Last-Modified:
      - Wed, 03 Jul 2019 21:32:55 GMT
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"WHomer","id":18176968,"node_id":"MDQ6VXNlcjE4MTc2OTY4","avatar_url":"https://avatars1.githubusercontent.com/u/18176968?v=4","gravatar_id":"","url":"https://api.github.com/users/WHomer","html_url":"https://github.com/WHomer","followers_url":"https://api.github.com/users/WHomer/followers","following_url":"https://api.github.com/users/WHomer/following{/other_user}","gists_url":"https://api.github.com/users/WHomer/gists{/gist_id}","starred_url":"https://api.github.com/users/WHomer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/WHomer/subscriptions","organizations_url":"https://api.github.com/users/WHomer/orgs","repos_url":"https://api.github.com/users/WHomer/repos","events_url":"https://api.github.com/users/WHomer/events{/privacy}","received_events_url":"https://api.github.com/users/WHomer/received_events","type":"User","site_admin":false,"name":"William
        Homer","company":null,"blog":"","location":"Denver, CO","email":"billyhomeriii@gmail.com","hireable":true,"bio":null,"public_repos":75,"public_gists":7,"followers":6,"following":2,"created_at":"2016-03-30T21:08:50Z","updated_at":"2019-07-03T21:32:55Z"}'
  recorded_at: Wed, 10 Jul 2019 03:44:13 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1562733845'
      Etag:
      - '"1a76c0bd59984892eb3ec39dfed28d16"'
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 10 Jul 2019 03:44:16 GMT
recorded_with: VCR 4.0.0
