---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1562527134'
      Etag:
      - W/"04571c8619bf7110c5778197cad7f518"
      X-Oauth-Scopes:
      - read:user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":185237603,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyMzc2MDM=","name":"BookClub","full_name":"CosmicSpagetti/BookClub","private":false,"owner":{"login":"CosmicSpagetti","id":46055043,"node_id":"MDQ6VXNlcjQ2MDU1MDQz","avatar_url":"https://avatars1.githubusercontent.com/u/46055043?v=4","gravatar_id":"","url":"https://api.github.com/users/CosmicSpagetti","html_url":"https://github.com/CosmicSpagetti","followers_url":"https://api.github.com/users/CosmicSpagetti/followers","following_url":"https://api.github.com/users/CosmicSpagetti/following{/other_user}","gists_url":"https://api.github.com/users/CosmicSpagetti/gists{/gist_id}","starred_url":"https://api.github.com/users/CosmicSpagetti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CosmicSpagetti/subscriptions","organizations_url":"https://api.github.com/users/CosmicSpagetti/orgs","repos_url":"https://api.github.com/users/CosmicSpagetti/repos","events_url":"https://api.github.com/users/CosmicSpagetti/events{/privacy}","received_events_url":"https://api.github.com/users/CosmicSpagetti/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CosmicSpagetti/BookClub","description":"Backend
        Module 2 paired Rails project, weeks 2 and 3","fork":true,"url":"https://api.github.com/repos/CosmicSpagetti/BookClub","forks_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/forks","keys_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/teams","hooks_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/hooks","issue_events_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/issues/events{/number}","events_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/events","assignees_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/assignees{/user}","branches_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/branches{/branch}","tags_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/tags","blobs_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/git/refs{/sha}","trees_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/statuses/{sha}","languages_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/languages","stargazers_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/stargazers","contributors_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/contributors","subscribers_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/subscribers","subscription_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/subscription","commits_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/commits{/sha}","git_commits_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/git/commits{/sha}","comments_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/comments{/number}","issue_comment_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/issues/comments{/number}","contents_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/contents/{+path}","compare_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/merges","archive_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/downloads","issues_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/issues{/number}","pulls_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/pulls{/number}","milestones_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/milestones{/number}","notifications_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/labels{/name}","releases_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/releases{/id}","deployments_url":"https://api.github.com/repos/CosmicSpagetti/BookClub/deployments","created_at":"2019-05-06T16:59:27Z","updated_at":"2019-05-15T20:18:10Z","pushed_at":"2019-06-23T20:44:59Z","git_url":"git://github.com/CosmicSpagetti/BookClub.git","ssh_url":"git@github.com:CosmicSpagetti/BookClub.git","clone_url":"https://github.com/CosmicSpagetti/BookClub.git","svn_url":"https://github.com/CosmicSpagetti/BookClub","homepage":null,"size":517,"stargazers_count":1,"watchers_count":1,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":187713795,"node_id":"MDEwOlJlcG9zaXRvcnkxODc3MTM3OTU=","name":"little_shop_v2","full_name":"DavisC0801/little_shop_v2","private":false,"owner":{"login":"DavisC0801","id":44012054,"node_id":"MDQ6VXNlcjQ0MDEyMDU0","avatar_url":"https://avatars0.githubusercontent.com/u/44012054?v=4","gravatar_id":"","url":"https://api.github.com/users/DavisC0801","html_url":"https://github.com/DavisC0801","followers_url":"https://api.github.com/users/DavisC0801/followers","following_url":"https://api.g[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1562527134'
      Etag:
      - W[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1562527134'
      Etag:
      - W[...]
[...]
