---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 7f4390b796ddcfb980618d81ab4b6d2c8cc3c7a0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562105152'
      Etag:
      - W/"b979d6937bab2b997bda8b580ee23d89"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":93956323,"node_id":"MDEwOlJlcG9zaXRvcnk5Mzk1NjMyMw==","name":"NYT-Api-Activity","full_name":"bexway/NYT-Api-Activity","private":false,"owner":{"login":"bexway","id":17119879,"node_id":"MDQ6VXNlcjE3MTE5ODc5","avatar_url":"https://avatars0.githubusercontent.com/u/17119879?v=4","gravatar_id":"","url":"https://api.github.com/users/bexway","html_url":"https://github.com/bexway","followers_url":"https://api.github.com/users/bexway/followers","following_url":"https://api.github.com/users/bexway/following{/other_user}","gists_url":"https://api.github.com/users/bexway/gists{/gist_id}","starred_url":"https://api.github.com/users/bexway/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bexway/subscriptions","organizations_url":"https://api.github.com/users/bexway/orgs","repos_url":"https://api.github.com/users/bexway/repos","events_url":"https://api.github.com/users/bexway/events{/privacy}","received_events_url":"https://api.github.com/users/bexway/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bexway/NYT-Api-Activity","description":"API
        Practice","fork":false,"url":"https://api.github.com/repos/bexway/NYT-Api-Activity","forks_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/forks","keys_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/teams","hooks_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/hooks","issue_events_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/issues/events{/number}","events_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/events","assignees_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/assignees{/user}","branches_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/branches{/branch}","tags_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/tags","blobs_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/git/refs{/sha}","trees_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/statuses/{sha}","languages_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/languages","stargazers_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/stargazers","contributors_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/contributors","subscribers_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/subscribers","subscription_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/subscription","commits_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/commits{/sha}","git_commits_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/git/commits{/sha}","comments_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/comments{/number}","issue_comment_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/issues/comments{/number}","contents_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/contents/{+path}","compare_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/merges","archive_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/downloads","issues_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/issues{/number}","pulls_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/pulls{/number}","milestones_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/milestones{/number}","notifications_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/labels{/name}","releases_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/releases{/id}","deployments_url":"https://api.github.com/repos/bexway/NYT-Api-Activity/deployments","created_at":"2017-06-10T17:52:23Z","updated_at":"2019-02-13T02:32:04Z","pushed_at":"2017-06-10T18:58:30Z","git_url":"git://github.com/bexway/NYT-Api-Activity.git","ssh_url":"git@github.com:bexway/NYT-Api-Activity.git","clone_url":"https://github.com/bexway/NYT-Api-Activity.git","svn_url":"https://github.com/bexway/NYT-Api-Activity","homepage":"","size":14,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":178911471,"node_id":"MDEwOlJlcG9zaXRvcnkxNzg5MTE0NzE=","name":"cross_check","full_name":"bplantico/cross_check","private":false,"owner":{"login":"bplantico","id":43261385,"node_id":"MDQ6VXNlcjQzMjYxMzg1","avatar_url":"https://avatars3.githubusercontent.com/u/43261385?v=4","gravatar_id":"","url":"https://api.github.com/users/bplantico","html_url":"https://github.com/bplantico","followers_url":"https://api.github.com/users/bplantico/followers","following_url":"https://api.github.com/u[...]
